.footer {
    box-sizing: border-box;
    font-family: $font-primary;
    color: $font-color;
    margin: 1em;
    &__container {
        
        .container__menu {

            ul {
                display: flex;
                li {
                    padding: 0 .5em;
                    a{
                        &:link, &:visited, &:active{
                            text-decoration: none;
                            color:#000;
                        }
                    }
                }
            }
        }
    }
}